@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13.3%; /* #222222 */
    --foreground: 0 0% 98%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13.3%;
    --popover-foreground: 0 0% 98%;

    --primary: 272 76% 53%; /* Violet #8A2BE2 */
    --primary-foreground: 0 0% 98%;

    --secondary: 275 100% 25%; /* Deep Indigo #4B0082 */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 64%;
    
    --accent: 272 76% 53%; /* Violet #8A2BE2 */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 272 76% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
